.extraInfoCard{
    color: white;
    width: 13em;
    padding: 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    margin-bottom: 5px;
    margin-top: 5px;

}

.extraInfoCard--imageElements{
    position: relative;

}


.extraInfoCard--image{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 0;
    margin-right: 0;

}

.extraInfoCard--runtime{
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 3px;
}

.extraInfoCard--title{
    font-family: 'Bebas Neue', serif;
    position: absolute;
   -webkit-text-stroke: 0.5px black; 
    bottom: 8px;
    left: 10px;
}

.extraInfoCard--playButton{
    color: white;
    background-color: rgba(0, 0, 0, 0.481);
    border: 2px solid rgb(218, 216, 216);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-size: 50px;
    z-index: 100;
    transition: 1s;
    display: none;

}

.extraInfoCard:hover  .extraInfoCard--playButton{
    display: block;
}

.extraInfoCard--info{
    background-color: rgb(53, 53, 53);
}

.extraInfoCard--contentYearListDiv{
    display: flex;
}
