body{
    margin: 0;
    font-family: 'Poppins', serif;
}

.App{
    background-color: black;
    color: white;
    height: 100vh;
}

.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.netflixLogo{
    height: 70px;
    cursor: pointer;
}

.myAvatar{
    border-radius: 4px;
    height: 30px;
    margin-top: 22px;
    margin-right: 20px; 
    cursor: pointer;
}

.row{
    margin-left: 30px;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.row>h3{
margin-bottom: 5px;
font-size: 1.4vw;
margin-top: 30px;
}

.movieDiv{
    /* --movieDiv-index: 0; */
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    /* transform: translateX(calc(var(--movieDiv-index) * -10%)); */
}

.movieCard{
    height: 150px;
    margin-left: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.arrowLeft, .arrowRight{
    height: 150px;
    text-align: center;
    width: 40px;
    font-size: 40px;
    font-weight: 100;
    color: white;
    position: absolute;
    background-color: rgba(84, 81, 81, 0.564);
    line-height: 150px;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition: 0.4s;
    display: none;
}

.movieDiv:hover .arrowLeft{
    display: block;
}

.movieDiv:hover .arrowRight{
    display: block;
}

.arrowLeft{ 
    left: 0px;
}

.arrowRight{
    right: 0px;
}

.arrowLeft:hover, .arrowRight:hover{
    background-color: rgba(0, 0, 0, 0.704);
    font-size: 50px;
}

